/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image-dark.png);
  --font-family: "IBM Plex Mono", sans-serif;
  --font-size: 18px;
  --font-weight-title: 700;
  --font-weight-another: 400;
  --background-color: #000028;
  --color-text-header: #000;
  --background-container:#FF0070;
  --color-decor: #FF0070;
  --hero-color: #DB00FF;
  --color-title-section: #000028;
  --color-text-section: #F1B2CE;
  --color-name-section: #FF0070;
  --color-button: #FF0070;
  --effect-text: #FF0070;
  --hover-button: rgba(255, 0, 112, 0.4);
  --margin-top: 40px;
  --margin-bottom: 50px;
  --padding-left: 10px;
  --padding-right: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --top-decoration:10px;
  --bottom-decoration: 10px;
  --rec-display: flex;
}

@media (width >= 768px) {
  :root {
    --margin-top: 60px;
    --margin-bottom: 80px;
    --padding-left: 20px;
    --padding-right: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --top-decoration:20px;
    --bottom-decoration: 20px;
    
  }
}  


